<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Task Tracker!
  </h1>
</div>
<h2 class='col-md-12'>Task Tracker</h2>
<div class="container">
    <h3>Create a Task</h3>  
  <form [formGroup]="taskForm">
    <div class="row">
      <div class="col-sm-6">
          <label for="fname">Task Name</label>
          <input type="text" id="fname" name="firstname" formControlName="firstname" placeholder="Enter Task name..">
      </div>
      <div class="container col-sm-6">       
          <table class="table">
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-sm-6">
        <label for="lname">Date</label>
        <input type="text" id="lname" name="lastname" formControlName="lastname" placeholder="Enter Date..">
      </div>
  </div>
  <div class="row col-sm-6">
        <label for="country">Assigned To</label>
        <input type="text" id="fname" name="assigned" formControlName="assigned" placeholder="Enter Assigned To..">
  </div>
  <input type="submit" value="Submit" (click)='addTask()'>  
  </form>
</div>

